/plugins/*
/themes/*
!/themes/dr-coding-standards-test
/mu-plugins/*
/uploads/*
blogs.dir/
upgrade/
backup-db/
cache/
backups/
node_modules/
.idea/
.vscode/
.DS_*
.sublime*
bower_components/
.htaccess
.sass-cache
compass_app_log.txt
advanced-cache.php
wp-cache-config.php
sitemap.xml*
*.log
.AppleDouble
.LSOverride
/vendor/*
/db.php
mu-plugins/local.php
mu-plugins/debug.php
themes/twenty*
!/mu-plugins/wds-required-plugins-list.php
!/mu-plugins/autoload.php
!/plugins/dr-coding-standards-test
